breakpoint(break)
  @media only screen and (max-width: break)
    {block}

font-smoothing()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

grab()
  cursor pointer
  cursor grab

grabbing()
  cursor pointer
  cursor grabbing

kern(k = 1)
  letter-spacing (k / 625) * 1em

lead(l = 1, fs = 1)
  line-height (l / fs) * 1em

mobile()
  +breakpoint(767px)
    {block}

no-select()
  -webkit-touch-callout none
  user-select none

offset-kern(k = 1)
  padding-left (k / 625) * 1em

retina()
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
    {block}

tablet()
  @media only screen and (min-width: 768px) and (max-width: 1024px)
    {block}
